.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

.App {
    padding: 25px;
    width: 90%;
    height: 40rem;
}

.appButton {
    font-size: 4rem;
    background: blue;
    color: white;
    border-radius: 50%;
    width: 7rem;
    margin-bottom: .5rem;
    border: black solid 1px;
}

.appButtonNumb {
    font-size: 4rem;
    background: darkblue;
    color: white;
    border-radius: 50%;
    width: 7rem;
    margin-bottom: .5rem;
    border: black solid 1px;
}

.calc {
    display: flex;
    justify-content: space-between;
}


.specNumb {
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: space-between;
}

.ops {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: .5rem;
}

.specs {
    display: flex;
    justify-content: space-between;
    padding-bottom: .5rem;
}

.numbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: .5rem;
}
